<h1><%- title %></h1>

<form action="/search" class="mb-3" method="POST">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control form-control-lg" name="filter" id="filter" placeholder="<%- filter %>"/>
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-primary btn-lg">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg>
        </button>
        <a href="/" class="btn btn-outline-danger btn-lg input-group-text">Reset</a>
      </div>
    </div>
  </div>
</form>
<div class=container mb-3">
  <table class="table mb-3">
    <tr><th>Disc #</th><th>Title</th><th>Episodes</th><th>Movie/TV</th><th>Rating</th><th>xbox only</th></tr>
    <% discs.forEach(disc => { %>
  <% include partials/_disc-item.html %>
    <% }); %>
  </table>
</div>
